@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
    height: 100%; 
    margin: 0;
}
:root {
    /* Colores Corporativos (Basados en limpieza e higiene dental) */
    --dentify-cian: #00DBDE;
    --dentify-turquesa: #48c6ef; // Un turquesa que combina bien con el cian

    /* Degradado oficial del PDF */
    --dentify-gradient: linear-gradient(135deg, var(--dentify-cian) 0%, var(--dentify-turquesa) 100%);

    /* Escala de Grises para textos y fondos */
    --dentify-dark: #2c3e50;
    --dentify-gray: #7f8c8d;
    --dentify-light: #f4f7f6;

    /* Tipografías según Manual de Estilo */
    --font-titles: 'Exo', sans-serif;
    --font-subtitles: 'Istok Web', sans-serif;
    --font-body: 'Noto Sans', sans-serif;
}

/* --- ESTILOS GLOBALES BASE --- */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: var(--dentify-light);
    color: var(--dentify-dark);
    -webkit-font-smoothing: antialiased;
}

/* Aplicación automática de fuentes por jerarquía */
h1,
h2,
h3,
.dentify-title {
    font-family: var(--font-titles);
    font-weight: 700;
    letter-spacing: -0.5px;
}

h4,
h5,
h6,
.dentify-subtitle {
    font-family: var(--font-subtitles);
    font-weight: 700;
}

p,
span,
label,
input {
    font-family: var(--font-body);
}

/* Utilidad para botones o fondos con el degradado de marca */
.bg-dentify {
    background: var(--dentify-gradient);
}